@import "tailwindcss";
@plugin "daisyui";

@theme inline {
  --font-sans: var(--font-sarabun);
  --font-header: var(--font-kanit);
}

/* Apply Kanit to headers and bold text */
h1,
h2,
h3,
h4,
h5,
h6,
.font-bold,
.title,
.card-title,
.stat-value,
.btn {
  font-family: var(--font-kanit);
}